
<!-- /container -->
<div class="side-menu">
	<div id="logo">
		<h1>Modular<br /> Type <br />Thingy</h1>
	</div>
	<div class="tagline">
		<p>
			A creation of typographical proportions
		</p>
		<p>
			From the sporadically productive mind of Ciarán Phillips
		</p>
	</div>
    <div>
        <div>
        	<label>Default Text: </label>
            <input ng-model="text" class="form-control"/>
        </div>
    </div>
    <div ng-repeat='f in fonts'>
        <div>
            <label  for="">Font {{$index + 1}}</label>
            <input ng-model="f.value" ng-change="updateGrid()" class="form-control" type="text" />
        </div>
    </div>
        
</div>
<div class="page">
	<header>
        <div class="scales">
	        	
	        <ul class="scales">
	            <li  ng-class="{active : isScale(s.value)}" ng-repeat="s in ratioDistance | orderBy: '+order'">
	                <a ng-click="updateScale(s.value)" href=""><span  class="ratio" ng-bind-html="to_trusted(s.ratio)"> </span> {{ s.name }}  </a></li>
	        </ul>
        </div>
        <div class="options radiobutton">
	        <p><label for="extra-switch">Hide Extra</label>
	        	 <input id="extra-switch" checkbox-switch type="checkbox" name="extra" value="1" checked="checked" ng-model="showExtra"  /></p>
	    </div>
    </header>
    <div>
    <table class="table ">
        <tr ng-class="{ 'extra' : isExtra(s), 'hide-extra' : showExtra}"  ng-repeat="s in grid | orderBy: '-right.size'">
            <td row-transform  size="{{ s.left[0].size }}" data-id="{{ $index }}" class="custom" >{{ text }}</td>
            <td row-transform  size="{{ s.right.size }}" class="modular" >{{ text }}</td>
        </tr>
    </table>
</div>

</div>




